$primary-color: #4369EE; // Main Button background color
$secondary-color: #000000; // Tooltip background color
$tertiary-color: #ea9200;// Other Buttons Background color

$primary-color-hover: #7b98ff;
$primary-color-clicked: #002091;
$secondary-color-hover: #635f5f;
$secondary-color-clicked: #43eec5;
$tertiary-color-hover: #fbbb50;
$tertiary-color-clicked: #ff622d;